In [1]:
import pandas as pd

In [2]:
a=pd.read_csv('../input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv',index_col=['Job_Role'])
a.head()

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."

In [3]:
a.rename(mapper={'Company':'Firm',
                'Skills/Description':'Job Requirement'}, axis=1,inplace=True)

In [4]:
a.head()

,Firm,Location,Job Experience,Job Requirement
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."

In [5]:
a.columns

Index(['Firm', 'Location', 'Job Experience', 'Job Requirement'], dtype='object')

In [6]:
a.rename(columns={
    'Firm':'Company',
    'Job Requirement':'Skills/Description'
},inplace=True)

In [7]:
a.columns

Index(['Company', 'Location', 'Job Experience', 'Skills/Description'], dtype='object')

**Delete Rows**

drop method()

In [8]:
a.drop(labels="Skills/Description",axis=1,inplace=True)

In [9]:
a.columns

Index(['Company', 'Location', 'Job Experience'], dtype='object')

**pop method**

In [10]:
loc=a.pop('Location')

In [11]:
a.head()

,Company,Job Experience
Job_Role,,
Senior Data Scientist,UPL,3-6
Senior Data Scientist,Walmart,5-9
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,5-10
Data Scientist,UPL,1-4
Data Scientist,Walmart,4-8

**del**

In [12]:
del a['Job Experience']

In [13]:
a.head()

                                                              Company
Job_Role
Senior Data Scientist                                             UPL
Senior Data Scientist                                         Walmart
Applied Data Scientist / ML Senior Engineer (Py...  SAP India Pvt.Ltd
Data Scientist                                                    UPL
Data Scientist                                                Walmart

**Random Sample**

In [14]:
a=pd.read_csv('../input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv',index_col=['Job_Role'])

In [15]:
a.sample(n=4)

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Software Engineer ( MEAN Stack ),Solution Analysts Pvt Ltd.,Ahmedabad,2-7,"mean stack, Node JS, javascript, IT Skills, So..."
Analytics Manager- Data scientist,Mirus Solutions Pvt Limited,"Mumbai, Bangalore/Bengaluru",3-7,"Data Science, SAS, Analytics"
Senior Backend Data Platform Engineer,BrickRed Systems,Noida,4-7,"communication, performance tuning, software ar..."
CDO - Data Analyst,Capco,Bangalore/Bengaluru,3-7,"Relationship management, Data analysis, SAS, B..."

In [16]:
a.sample(n=3,axis=1)

,Company,Location,Job Experience
Job_Role,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4
Data Scientist,Walmart,Bangalore/Bengaluru,4-8
...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10

In [17]:
a.sample(frac=0.1)

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Marketing Analyst,IND Innovations Pvt Ltd.,Delhi,1-3,"Marketing programs, Marketing Manager, Sales, ..."
Data Scientist,Infinite Uptime,"Pune, Jharsuguda",2-4,"Condition monitoring, Cloud computing, Data an..."
Product Manager,Ethos Capital,Bangalore/Bengaluru,3-7,"Leadership, Law, Life Insurance, Product Desig..."
Senior Engineer,Deutsche Bank,Pune,15-18,"Process automation, Business objects, Assuranc..."
Hadoop Developer - Scala/Big Data,Maven Workforce,Chennai,5-10,"Scala, Hadoop, Big Data, Data Ingestion, Hive,..."
...,...,...,...,...
Data Engineering Application Developer,Accenture,Hyderabad/Secunderabad,4-6,"Consulting, SQL, Python, Flask APIs, SQL Serve..."
Backend Cloud Engineer,Saffron Careers Private Limited,Hyderabad/Secunderabad,5-8,"Cloud computing, Backend, NoSQL, Linux, MySQL,..."
"Analyst III, Application Support",FutureSoft (India),Gurgaon/Gurugram,5-7,"IT Skills, Testing, Application support, Chang..."
Senior Data Scientist,"Fanatics, Inc.",Hyderabad/Secunderabad,5-11,"Supply chain, Computer science, Operations res..."
Business Analyst/Data Analyst,Telamon HR Solutions,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",3-5,"SDLC, communication, Data analytics, presentat..."

**Largest/Smallest Value**

In [18]:
import pandas as pd

In [19]:
data=pd.read_csv('../input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv',index_col=['Job_Role'])

In [20]:
data.head()

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."

In [21]:
import numpy as np

In [22]:
data['Salary']=np.random.randint(100000,1000000,size=12000)

In [23]:
data.head()

,Company,Location,Job Experience,Skills/Description,Salary
Job_Role,,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea...",725286
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,...",545578
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man...",555304
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a...",199539
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn...",178716

In [24]:
data.sort_values('Salary',ascending=False).head(3)

,Company,Location,Job Experience,Skills/Description,Salary
Job_Role,,,,,
Data Engineer - Java/Scala/Python,Corner Tree Consulting,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",5-9,"Agile Methodologies, data engineer, Programmin...",999996
Principal Data Scientist,24 7 ai,Bangalore/Bengaluru,8-13,"IT Skills, Java, Python, Data Science, Machine...",999962
AWS Data Engineer,Delta Technology,Hyderabad/Secunderabad,4-8,"Data Engineering, ETL, AWS, IT Skills, Python,...",999962

In [25]:
data.nlargest(3,'Salary')

,Company,Location,Job Experience,Skills/Description,Salary
Job_Role,,,,,
Data Engineer - Java/Scala/Python,Corner Tree Consulting,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",5-9,"Agile Methodologies, data engineer, Programmin...",999996
Principal Data Scientist,24 7 ai,Bangalore/Bengaluru,8-13,"IT Skills, Java, Python, Data Science, Machine...",999962
AWS Data Engineer,Delta Technology,Hyderabad/Secunderabad,4-8,"Data Engineering, ETL, AWS, IT Skills, Python,...",999962

In [26]:
data['Salary'].nlargest(3)

Job_Role
Data Engineer - Java/Scala/Python    999996
Principal Data Scientist             999962
AWS Data Engineer                    999962
Name: Salary, dtype: int64

**smallest**

In [27]:
data.sort_values('Salary').head(1)

,Company,Location,Job Experience,Skills/Description,Salary
Job_Role,,,,,
Data Scientist,Pasona,New Delhi,1-3,"IT Skills, Java, Python, Software Development,...",100211

In [28]:
data.nsmallest(3,'Salary')

,Company,Location,Job Experience,Skills/Description,Salary
Job_Role,,,,,
Data Scientist,Pasona,New Delhi,1-3,"IT Skills, Java, Python, Software Development,...",100211
Senior Backend Engineer - Java & Data Warehousing | Space & Time,TALENT500 TECH (INDIA) PRIVATE LIMITED,Remote,3-8,"IT Skills, Java, Data Science, Cloud",100217
Associate Staffing Analyst,Client of PEOPLELOGIC BUSINESS SOLUTIONS,"Bengaluru, Bengaluru / Bangalore",0-1,"ERP, MS Data management, Succession Planning, ...",100218

In [29]:
data['Salary'].nsmallest(3)

Job_Role
Data Scientist                                                      100211
Senior Backend Engineer - Java & Data Warehousing | Space & Time    100217
Associate Staffing Analyst                                          100218
Name: Salary, dtype: int64

**WHERE METHOD**

In [30]:
import pandas as pd

In [31]:
a=pd.read_csv('../input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv')

In [32]:
a.head()

,Job_Role,Company,Location,Job Experience,Skills/Description
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
4,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."

In [33]:
mask=a['Job_Role']=='Senior Data Scientist'

In [34]:
a[mask]

,Job_Role,Company,Location,Job Experience,Skills/Description
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
13,Senior Data Scientist,Northface Consultancy Services Private Limited,Bangalore/Bengaluru(Whitefield),3-6,"database knowledge, R, Statistical Programming..."
14,Senior Data Scientist,referral,Bangalore/Bengaluru,2-4,"Computer science, Computer vision, Operations ..."
23,Senior Data Scientist,Revnomix Solutions LLP,"Mumbai, Pune, Mumbai (All Areas)",5-8,"python, django, java, MySQL, IT Skills, Data S..."
...,...,...,...,...,...
765,Senior Data Scientist,Idexcel Technologies Private Limited,Bangalore/Bengaluru,4-8,"python, nlp, Artificial Intelligence, computer..."
768,Senior Data Scientist,Pitney Bowes India Pvt Ltd,Noida,6-10,Quest
842,Senior Data Scientist,Nanobi Data And Analytics Pvt Ltd,Bengaluru,2-5,Senior Data Scientist
1073,Senior Data Scientist,Bigshyft Hiring for Zupee,Gurgaon/Gurugram,4-8,"Data Science, Neural Networks, Machine Learnin..."
1320,Senior Data Scientist,Sysvine Technologies,Remote,4-9,"Data Science, Machine Learning, Python, statis..."

**where method**

In [35]:
a.where(mask)

,Job_Role,Company,Location,Job Experience,Skills/Description
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
11995,NaN,NaN,NaN,NaN,NaN
11996,NaN,NaN,NaN,NaN,NaN
11997,NaN,NaN,NaN,NaN,NaN
11998,NaN,NaN,NaN,NaN,NaN
11999,NaN,NaN,NaN,NaN,NaN

**NAN values**

In [36]:
import numpy as np

In [37]:
a=pd.DataFrame(np.random.randint(10,100,(4,4)),index=['Anitha','Vanitha','Ramya','Aji'],columns=['T1','T2','T3','T4'])

In [38]:
a

         T1  T2  T3  T4
Anitha   64  54  64  51
Vanitha  77  38  33  61
Ramya    28  86  24  30
Aji      76  55  55  34

In [39]:
a.where(a<80,'A',inplace=True)

In [40]:
a

         T1  T2  T3  T4
Anitha   64  54  64  51
Vanitha  77  38  33  61
Ramya    28   A  24  30
Aji      76  55  55  34

**using series**

In [41]:
n=a['T1']<75

In [42]:
a.where(n,'B')

         T1  T2  T3  T4
Anitha   64  54  64  51
Vanitha   B   B   B   B
Ramya    28   A  24  30
Aji       B   B   B   B

In [43]:
c=lambda x:x<80

In [44]:
a=pd.DataFrame(np.random.randint(10,100,(4,4)),index=['Anitha','Vanitha','Ramya','Aji'],columns=['T1','T2','T3','T4'])

In [45]:
c(a)

           T1     T2     T3    T4
Anitha   True   True   True  True
Vanitha  True  False   True  True
Ramya    True  False   True  True
Aji      True   True  False  True

In [46]:
a.where(lambda x:x<80,'A',inplace=True)

In [47]:
a

         T1  T2  T3  T4
Anitha   13  32  32  24
Vanitha  32   A  12  47
Ramya    11   A  63  59
Aji      78  29   A  68

**HAVING DYNAMIC VALUE**

In [48]:
a=pd.DataFrame(np.random.randint(10,100,(4,4)),index=['Anitha','Vanitha','Ramya','Aji'],columns=['T1','T2','T3','T4'])

In [49]:
a

         T1  T2  T3  T4
Anitha   40  14  77  33
Vanitha  16  45  14  20
Ramya    66  95  83  26
Aji      17  59  72  18

In [50]:
a.where(a>39,lambda x:x+2)

         T1  T2  T3  T4
Anitha   40  16  77  35
Vanitha  18  45  16  22
Ramya    66  95  83  28
Aji      19  59  72  20

**QUERY METHOD**

**Query the columns of a dataframe with boolean expressions**

In [51]:
data=pd.read_csv('../input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv')

In [52]:
data.query("Job_Role == 'Data Scientist'")

,Job_Role,Company,Location,Job Experience,Skills/Description
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
4,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
6,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"Computer science, cassandra, Machine learning,..."
8,Data Scientist,Ericsson,Bangalore/Bengaluru,10-20,"Graphics, Bidding, Google Analytics, Data mana..."
30,Data Scientist,MNR Solutions Pvt. Ltd.,"Pune, Bangalore/Bengaluru",5-10,"Computer vision, PDF, data manipulation, Machi..."
...,...,...,...,...,...
1383,Data Scientist,AGILITY HUMAN RESOURCE MANAGEMENT SERVICES PRI...,"Delhi / NCR, Mumbai (All Areas)",4-9,"neural network NLP, learning, Python, machine ..."
1384,Data Scientist,Ideas2IT,Chennai,3-8,"IT Skills, Java, Python, Software Development,..."
1387,Data Scientist,AR Consultant,"Pune, Bangalore/Bengaluru, Mumbai (All Areas)",5-8,"Machine Learning, Natural language processing,..."
1392,Data Scientist,Astha Baid,Hyderabad/Secunderabad,7-11,"NLP, R, Java, Python, scikit, machine learning..."
1393,Data Scientist,Fine Jobs,Gurgaon/Gurugram,6-11,"Computer science, Database Architect, Executiv..."

`` use them to use space between querys

In [53]:
data.query("`Job Experience`=='0-0'")

,Job_Role,Company,Location,Job Experience,Skills/Description
1585,Data Analyst-Internship,"PerkinElmer, Inc.",Hyderabad,0-0,"SAP, Business analytics, Data Analyst, Interns..."
1777,Opening For Technical Data Engineer at Bangalore,Mouser Electronics,Bangalore/Bengaluru,0-0,"Communication Skills, Electrical Engineering"
1846,Data Business Analyst,Webhelp,"Gurgaon/Gurugram, Gurgaon",0-0,Minimum 4 years experience as Data Business An...
1868,"Associate Analyst, Data Processing",enVista,Hyderabad,0-0,"Excel, Associate Analyst, Accounting, Data pro..."
1961,"Data Analyst - Fresher (Python , SQL & BI Tools)",Indian Eagle Pvt. Ltd.,Hyderabad/Secunderabad,0-0,"Python Data Analytics, Javascript, Tableau, ET..."
3308,Azure Data Engineer,Wavelabs,Hyderabad/Secunderabad,0-0,"Azure Data Factory, ADF, SQL Server, VNET, ADL..."
5927,Junior Analyst (2022 Graduates) - Gamma,Boston Consulting Group,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /...",0-0,"python, vba, advanced excel, Analytics, sql, D..."
6385,Trainee-freshers-Machine Learning & Data Science,Aficionado Technologies Pvt Ltd,Bangalore/Bengaluru(BTM Layout),0-0,"Machine Learning, Deep Learning, Python, PCA, ..."
7595,Civil engineer process associate (Diploma/Be/B...,Focus Energy,Delhi / NCR,0-0,AutoCAD
8041,Business Analyst,Satin Finserv Limited,Thane,0-0,"data presentation, data analytics, Business An..."
8233,Internship for Statistical Analyst,Veravizion Consulting,Pune,0-0,"Hospitality, Data analysis, Operations researc..."
8520,Trainee-Freshers - Cyber Security Analyst/Cybe...,Aficionado Technologies Pvt Ltd,"Singapore, Dubai, Bangalore/Bengaluru(BTM Layout)",0-0,"Cloud Security, Cyber Security, Malware DoS, D..."
8721,Implementation Analyst (BCA/B.Sc),LIFEWORKS WELLBEING SOLUTIONS (INDIA) LLP,"Noida, Gurgaon/Gurugram",0-0,"Java, C++, SQL, SDLC, Oracle, written, MS Acce..."
9073,Intern Content Marketing,Analyttica Datalab Pvt. Ltd.,Bangalore/Bengaluru,0-0,"Content Writing, Social Media, SEO, Marketing"
10471,PhD/Post Graduate in Machine Learning/Computat...,DCG Data-Core Systems (India) Pvt. Ltd.,Kolkata,0-0,"Synthetic Data Generation, Natural Language Pr..."

**replace columns with underscore**

In [54]:
data.columns= [i.replace(" ","_") for i in data.columns]

In [55]:
data.columns

Index(['Job_Role', 'Company', 'Location', 'Job_Experience',
       'Skills/Description'],
      dtype='object')

**Multiple columns to filter**

In [56]:
data.query("Job_Role=='Senior Data Scientist' and Job_Experience=='3-5'")

,Job_Role,Company,Location,Job_Experience,Skills/Description
537,Senior Data Scientist,Seven Consultancy (HR Solution),Hyderabad/Secunderabad,3-5,"Computer science, C++, SAS, Coding, Perl, Data..."

In [57]:
mask = (data['Job_Role']=='Senior Data Scientist') & (data['Job_Experience']=='3-5')

In [58]:
data[mask]

,Job_Role,Company,Location,Job_Experience,Skills/Description
537,Senior Data Scientist,Seven Consultancy (HR Solution),Hyderabad/Secunderabad,3-5,"Computer science, C++, SAS, Coding, Perl, Data..."

In [59]:
data.query('Job_Role in ["Senior Data Scientist","Data Analyst"]')

,Job_Role,Company,Location,Job_Experience,Skills/Description
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
13,Senior Data Scientist,Northface Consultancy Services Private Limited,Bangalore/Bengaluru(Whitefield),3-6,"database knowledge, R, Statistical Programming..."
14,Senior Data Scientist,referral,Bangalore/Bengaluru,2-4,"Computer science, Computer vision, Operations ..."
23,Senior Data Scientist,Revnomix Solutions LLP,"Mumbai, Pune, Mumbai (All Areas)",5-8,"python, django, java, MySQL, IT Skills, Data S..."
...,...,...,...,...,...
6375,Data Analyst,Anlage Infotech (I) Pvt. Ltd.,Gurgaon/Gurugram,7-12,"Data Analytics, analytical solutions, Hive, Po..."
6689,Data Analyst,SKILLLABS RESOURCE SERVICES Pvt Ltd,New Delhi,2-5,"Relational Databases, Data Analysis, Process I..."
6691,Data Analyst,ABG Group,"Noida, New Delhi, Delhi / NCR",1-3,"Advanced Excel, google scripting, Text Analyti..."
6696,Data Analyst,Right Step Consulting,"New Delhi, Gurgaon/Gurugram",2-5,"Tracking, Policies, Analytical, Market researc..."
6697,Data Analyst,Right Step Consulting,"New Delhi, Gurgaon/Gurugram",3-6,"Visual Basic, MySQL, Data Analyst, KPO, Busine..."

**apply method**

In [60]:
s1=pd.Series(["Lana ray","Divya Shetty","Hanu Iyer"])

In [61]:
s1=s1.apply(lambda x:x.replace(' ',"_"))

In [62]:
s1

0        Lana_ray
1    Divya_Shetty
2       Hanu_Iyer
dtype: object

**Apply a transformation across all values of columns**

In [63]:
data=pd.read_csv('../input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv')

In [64]:
data.head()

,Job_Role,Company,Location,Job Experience,Skills/Description
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
4,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job_Role            12000 non-null  object
 1   Company             12000 non-null  object
 2   Location            12000 non-null  object
 3   Job Experience      12000 non-null  object
 4   Skills/Description  12000 non-null  object
dtypes: object(5)
memory usage: 468.9+ KB

In [66]:
data['Salary']=np.random.randint(40000,400000,size=12000)

In [67]:
data

,Job_Role,Company,Location,Job Experience,Skills/Description,Salary
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea...",271165
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,...",264762
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man...",51040
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a...",156655
4,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn...",202125
...,...,...,...,...,...,...
11995,Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski...",110809
11996,Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr...",109329
11997,Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing...",334760
11998,Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M...",265108
11999,Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo...",253489

In [68]:
data['Salary']=data['Salary'].apply(lambda x:'Rs '+ " "+ str(x))

In [69]:
data.head()

,Job_Role,Company,Location,Job Experience,Skills/Description,Salary
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea...",Rs 271165
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,...",Rs 264762
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man...",Rs 51040
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a...",Rs 156655
4,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn...",Rs 202125

In [70]:
def band(x):
    if x>200000:
        return 'BAND A'
    elif x<100000:
        return 'BAND C'
    else:
        return "BAND B"

In [71]:
data=pd.read_csv('../input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv')

In [72]:
data['Salary']=np.random.randint(40000,400000,size=12000)

In [73]:
data['BAND']=data['Salary'].apply(band)

In [74]:
data

,Job_Role,Company,Location,Job Experience,Skills/Description,Salary,BAND
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea...",290282,BAND A
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,...",73322,BAND C
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man...",166362,BAND B
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a...",190228,BAND B
4,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn...",133783,BAND B
...,...,...,...,...,...,...,...
11995,Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski...",65329,BAND C
11996,Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr...",255066,BAND A
11997,Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing...",238192,BAND A
11998,Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M...",318063,BAND A
11999,Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo...",40417,BAND C

In [75]:
data['BAND'].value_counts()

BAND A    6733
BAND B    3320
BAND C    1947
Name: BAND, dtype: int64

**Apply transformation to particular row**

In [76]:
def func(x):
    loc=x['Location'] 
    experience=x['Job Experience']
    if loc in ['Hyderabad']:
        return "Yes"
    else:
        return "No"

In [77]:
data["Apply or not"]=data.apply(func, axis=1)

In [78]:
data["Apply or not"].value_counts()

No     11863
Yes      137
Name: Apply or not, dtype: int64